.git
.github
.gitignore
.pre-commit-config.yaml
c.out
completions
docs
manpages
vendor
LICENSE
CREDITS.md
README.md
checkmake.ini
Makefile
Dockerfile*
docker-compose.yml
golang-starter
golang-starter.key
