# Cosign
photos2map.key
cosign.key
*.sig

# local secret environment variables
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Generated directories
completions/
manpages/
docs/
dist/

# Input and output directories
in/
./out/
out/photos2map
